/* Import the poppins from Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-color: hsl(184, 100%, 50%);
    --text-color: #ffffff;
    --bg-color-01: #1f242d;
    --bg-color-02: #323946;
    --color-00: #0000001a;

    /* Extra */
    --color-01: #999999;
    --color-02: #009539;
    --color-03: #7950f2;
    --color-04: #c00000;
    --color-05: #232323;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border:  none;
    outline: none;
    scroll-behavior: smooth;

}


html{
    .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
      }
      
      .poppins-extralight {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
      }
      
      .poppins-light {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
      }
      
      .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
      }
      
      .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
      }
      
      .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
      }
      
      .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
      }
      
      .poppins-extrabold {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
      }
      
      .poppins-black {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
      }
      
      .poppins-thin-italic {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
      }
      
      .poppins-extralight-italic {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
      }
      
      .poppins-light-italic {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
      }
      
      .poppins-regular-italic {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
      }
      
      .poppins-medium-italic {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
      }
      
      .poppins-semibold-italic {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
      }
      
      .poppins-bold-italic {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
      }
      
      .poppins-extrabold-italic {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
      }
      
      .poppins-black-italic {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
      }
      
}

body{
    background-color: var(--bg-color-01);
    color: var(--text-color);
}
/* Aqui está configurando a Barra de fixacao onde tem home ,servico, projetos.. */
header{
  position: fixed;                /* Fixa a barra no topo da página */
  top: 0;                         /* Alinha a barra ao topo */
  left: 0;                        /* Alinha a barra à esquerda */
  width: 100%;                    /* A barra ocupa toda a largura da página */
  padding: 1.1rem;                /* Espaçamento interno */
  background-color: var(--bg-color-01); /* Cor de fundo da barra */
  display: flex;                  /* Utiliza o Flexbox para alinhar os itens dentro da barra */
  justify-content: center; /* Distribui os itens da barra com espaçamento entre eles */
  align-items: center;            /* Alinha os itens verticalmente ao centro */
  z-index: 100;                   /* Define a camada da barra para garantir que fique acima de outros elementos */
  border: solid 1px var(--bg-color-02); /* Adiciona uma borda de 1px ao redor da barra */
  
}
.logo{
  font-size: 1.7rem;
  color: var(--text-color);;
  font-weight: 600;
  cursor: default;
  
}
.nav-responsive{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: var(--bg-color-01)
}


/* Aqui está configurando HOME */
.nav a, .nav-responsive a {
  font-size: 1.2rem;
  color: var(--text-color);;
  padding: 0.5rem 1rem;
  transition: default;
}
.nav a:hover, .nav-responsive a:hover{
  color: var(--main-color);
}
section{
  min-height: 100vh;
  padding: 6rem 6rem 2rem;

  border: solido px var(--bg-color-02);
}

span{
  color: var(--main-color);
}

.home, .about{
  display: flex; /*;Ativa o Flexbox ( Quando precisa de distribuição dinâmica de espaço entre os itens)*/
  flex-direction: row;/*Define a direção principal do layout.)*/
  justify-content: space-evenly;/*Controla o alinhamento dos itens ao longo do eixo principal (no caso, horizontal).*/
  align-items: center;
 }

.home-img, .about-img{
  display: flex; /* Ativa o Flexbox ( Quando precisa de distribuição dinâmica de espaço entre os itens)*/
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
 }

.home-img img, .about-img img{
  width: 100%; /* Ajusta o tamanho da imagem */
  max-width: 70%; /* Garante que a imagem não ultrapasse o contêiner */
  height: auto; /* Mantém a proporção da imagem */
}

.about{
  background-color: var(--bg-color-02);
}

.home-content, .about-content{
  width: 45%

}

.home-content h1, .about-content h1 {
  font-weight: 1000; /* Deixa o texto do h1 bem grosso */
  line-height: 2rem; /* Define o espaçamento entre as linhas do título como 2rem */
  font-size: 2rem; /* Define o tamanho da fonte como 2rem */
}


.home-content h3, .about-content h3 {
  font-weight: 1000; /* Deixa o texto do h3 bem grosso */
  font-size: 2.2rem; /* Define o tamanho da fonte como 1.6rem */
}

.home-content p, .about-content p{
  margin-top: 1rem;
  font-size: 1.1rem;
  
  text-align: justify;
}

.service h2,
.Projetos h2,
.contact h2{ /* ORGANIZANDO OS TEXTO QUE SÃO Considerado h2. */
  font-size: 2.2rem; /* Define o tamanho da fonte como 2.2 rem (relativo ao tamanho da fonte raiz). */
  margin-bottom: 1rem;/* Espaçamento abaixo do título. */
  text-align: center;/* Centraliza o texto. */

}

/* O contêiner dos serviços */
.service-container{ /* O contêiner dos serviços */
  padding: 2rem 1rem 2.5rem;  /*Configuração adicional da caixa*/
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.service-container .service-box{ /*Configuração Cada caixa de serviço */
  padding: 2rem 1rem 2.5rem; 
  border-radius:1.2rem;
  text-align: center;
  border: solid 0.15rem var(--bg-color-01);
  background-color: var(--bg-color-02);
  transition: 0.5s ease;
}

.service-box{ /*Configuração adicional da caixa*/
  display: flex; 
  flex-direction: column;
  justify-content: space-between;/* Garante que os elementos internos fiquem espaçados*/
  min-height: 25rem;/* Define uma altura mínima para a caixa*/
  margin-bottom: 1;/* Aumenta ligeiramente o tamanho da caixa..*/
}
.service-container .service-box:hover{
  border-color: var(--main-color); /* A borda muda para a cor principal (var(--main-color)).*/
  transform: scale(1.01);/* Aumenta ligeiramente o tamanho da caixa..*/

}
.service-box i{ /*Define o tamanho do ícone.*/
  font-size: 4.3rem; /*Define o tamanho do ícone.*/
  color:var(--main-color) 
}
/* Estilo para a caixa de texto, limitando o texto a 4 linhas */
.service-box p {
  margin: 0.5rem; /* Define a margem ao redor do texto */
  letter-spacing: 0.1rem; /* Define o espaçamento entre as letras */
  display: -webkit-box; /* Usa um modelo de caixa flexível para manipulação de linhas de texto */
  -webkit-line-clamp: 4; /* Limita o texto a 4 linhas visíveis */
  -webkit-box-orient: vertical; /* Define a orientação das linhas para ser vertical */
  overflow: hidden; /* Oculta o conteúdo que excede o limite definido */
  text-overflow: ellipsis; /* Adiciona reticências (...) quando o texto é cortado */
  text-align: justify; /* Justifica o texto, distribuindo as palavras igualmente entre as margens */
}

/* Quando a classe 'show-more' for aplicada, mostra o texto completo */
.service-box p.show-more {
  display: block; /* Exibe o parágrafo de forma normal (não mais como uma caixa flexível) */
  -webkit-line-clamp: unset; /* Remove o limite de linhas quando expandido, permitindo exibir todo o conteúdo */
  overflow: visible; /* Torna o conteúdo visível, permitindo exibir todo o texto */
}
/* O contêiner dos serviços */


/* Projetos */
.Projetos {
  background-color: var(--bg-color-02);
}

.Projetos-container{
  display: grid;
  gap: 1.2rem;
  }

  .Projetos-box img{
    width: 100%;
    transition: 0.5s ease;
    }

  .Projetos-box{
    position: relative;
    border-radius: 0.6rem;
    box-shadow: 0 0 0.6rem var(--bg-color-01);
    overflow: hidden;
    display: flex;

  }

  .Projetos-box img:hover{
    transform: scale(1.1);

    }

    .Projetos-box .Projetos-layer{
      position: absolute;
      bottom: o;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient var(--main-color);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0.4rem;
      transform: translate(30rem);
      transition: 0.5s ease;
    }
    .Projetos-box .Projetos-layer{
      transform: translateY(0);
    }
.Projetos-layer h4{
  font-size: 1.8rem;
}

.Projetos-layer p{
  margin:  0.2rem 0 0.5;
}

.Projetos-layer a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: var(--text-color);
  border-radius: 50%;

}
.Projetos-layer a.i{ 
 font-size:  1,2rem;
 color: var(--bg-color-02);

}
/* Projetos */

form{
  max-width: 45rem;
  margin: 0.6rem auto;
  text-align: center;
  margin-bottom: 2rem;

  border: solid 1px var(--color-03);
}

.form .iput-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  border: solid 1px var(--color-02);

}

form .input-box input,
form textarea {
  width: 100%;
  padding: 1rem;
  font-size:  1rem;
  color: var(--text-color);
  background-color: var(--bg-color-02);
  border-radius: 0.5rem;
  margin: 0.4rem 0;

}
 form textarea{
  resize: none;
 }

 footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  background-color: var(--bg-color-01);

 }

 .social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  border: solid 0.15rem var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 1.8rem 0.5rem;
  transition:  0.5s ease;
  /* margin: 1.8rem 1rem 1.8rem 0;; */

}

.social-media a:hover{
  background-color: var(--main-color);
  color: var(--bg-color-02);
  box-shadow: 0 0 0.3rem var(--main-color);
}


/* Button */
.btn {
  display: inline-block;
  padding: 0.7rem 1.8rem;
  background-color: var(--main-color);
  border-radius: 2rem;
  color: var(--bg-color-02);
  font-weight: 600;
  letter-spacing: 0.1rem;
  transition: 0.3s ease;
  margin-top: 1.2rem;
}

.btn:hover {
  box-shadow: 0 0 0.3rem var(--main-color);
  background-color: inherit;
  color: var(--main-color);
  cursor: pointer;
}

/* Button */

 /* menu hamburger */
.menu-hamburguer {
  /*display: none;*/
  cursor:pointer;

}

.bar1, .bar2, .bar3{
  width: 2rem;
  height: 0.3rem;
  background-color: var(--text-color);
  margin: 0.4rem 0;
  transition: 0.3s ease;
}

.change .bar1{
  transform: translate(0, 0.65rem) rotate(-45deg);

}
.change .bar2{
  opacity: 0;
}

.change.bar3{
  transform: translate(0, -0,65rem) rotate(45deg);
}

 /* menu hamburger */

 /* media queries */

 /* smartphone extra  */
@media(min-width: 0px){
  .menu-hamburguer{
    display:block;
  }
  .nav{
    display: none;
  }
  .nav-responsive a {
    display: block;
    font-size: 1.2rem;
    margin: 0,5rem 0;
  }
  section {
    flex-direction: column;
  }
  .home, .about{
    flex-direction: column;
    gap: 1.2rem;
  }
  .home-img, .about-img{
    width: 80%;
    max-width: 80%;
  }
  .home-content, .about-content{
    width: 100%;
  }
  .home-content div {
    text-align: center;
  }
  .home-content h1, .about-content h1{
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.3 ;
  }
  .service-container{
    flex-direction: column;
    align-items: center;
  }
  .service-box{
    width: 100%;
  }
  header{
    background-color:var(--color-01)
  }
}

 /* Small (sm): Smartphone (landscape) */
 @media (min-width: 576px){
  .home-img, .about-img{
    width: 65%;
    max-width:65%;
  }
  .service-box{
    width: 70%;
  }
  header{
    background-color:var(--color-02);
  }
   }
 /* Tablet medio */
 @media (min-width: 768px){
  .menu-hamburguer{
    display: none;
  }
  .nav{
    display: block;
  }
  .nav-responsive, .nav-responsive a{
    display: none;
  }
   .home, .about{
    flex-direction: row;
    justify-content: space-evenly;
  }
  .home-img, .about-img{
     max-width: 35%;
  }
  .home-content, .about-content{
    width: 49%;
  }
     .service-box{
      width: 60%;
      margin-bottom: 2rem;
  }
  .Projetos-container{
    grid-template-columns: auto auto;
  }
  form .input-box input {
    width: 50%;
  };
  
  header{
    background-color:var(--color-03);
  }
 }

 /* notebook */
 @media (min-width: 992px){
  .home-img, .about-img{
    max-width: 35%;
 }
 .service-container{
  flex-direction: row;
  gap: 1.2rem;
 }
  header{
    background-color:var(--color-04);
  }}

   /* notebook extra */
 @media (min-width: 1200px){
  .home-img, .about-img{
    max-width: 25%;
 }
 .home-content h1{
  font-size:  2.7rem;
 } .home-content h2{
  font-size:  2rem;
 }
 .Projetos-container {
  grid-template-columns: auto auto auto;
 }
 

 .service-container{
  flex-direction: row;
  gap: 1.2rem;
 }
  header{
    background-color:var(--color-05);
  }}